<h2 class="dialog-title mat-title">Reset Password</h2>
<form (submit)="resetPassword()" class="reset-password-form">
  <div class="mb-3">
    <mat-form-field>
      <mat-label>Old Password</mat-label>
      <input matInput type="password" id="oldPassword" [(ngModel)]="updatedUser.password" name="oldPassword" disabled>
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input matInput type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </mat-form-field>
  </div>
  <!-- <div class="text-danger" *ngIf="error">{{ error }}</div> -->
  <div class="dialog-buttons">
    <button mat-raised-button id="reset" type="submit">Reset Password</button>
    <button mat-raised-button id="cancelbtn" type="button" (click)="closeDialog()">Cancel</button>
  </div>
</form>