<!-- <app-dashboard></app-dashboard> -->
<header>
    <h1 class="logo">
        <p class="web-name"><img src="../../../../assets/img/rev news logo.png" alt="Logo"></p>
    </h1>
</header>
<div class="container-fluid">
    <h1 class="title">Welcome to Rev News</h1>
    <div class="body mb-4">
        <img src="../../../../assets/img/login.gif" class="gif">
        <div class="form-container">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                <h1 class="display-4 text-center">Login here!</h1>
                <div class="mb-3">
                    <div class="input-icon"><i class="fa-solid fa-user"></i>
                        <input type="text" id="email" name="email" placeholder="Email" class="form-control" ngModel
                            required>
                    </div>
                </div>
                <br>
                <div class="mb-3">
                    <div class="input-icon password-toggle"><i class="fa-solid fa-lock"></i>
                        <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password" placeholder="Password" class="form-control"
                            ngModel required>
                        <span class="toggle-icon" (click)="togglePasswordVisibility()">
                            <i class="fa-solid fa-eye" *ngIf="!showPassword"></i>
                            <i class="fa-solid fa-eye-slash" *ngIf="showPassword"></i>
                        </span>
                    </div>
                </div>

                <br>

                <div class="d-flex justify-content-center">
                    <button type="submit" [disabled]="!loginForm.valid"
                        class="btn btn-primary w-100 custom-color">Login</button>
                </div>

                <br>

                <div class="d-flex justify-content-center text-center">
                    <p>Don't have an account? <a routerLink="/add">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<footer>
    <p>RevNews &#169; Copyrights 2023</p>
</footer>