<app-dashboard></app-dashboard>
<h2 style="text-align: center" class="saved-news">Saved News Articles</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4" *ngFor="let article of savedNews">
            <mat-card class="news-card">
                <div class="source">
                   <p>{{ article.source.name || "null" }}</p> 
                </div>
                <div class="image-container">
                    <a href="{{article.url}}" target="_blank"><img mat-card-image [src]="
                        article.urlToImage || '../../../../assets/img/default news.jpg'
                      " [alt]="article.title" /></a>
                </div>
                <mat-card-content>
                    <mat-card-title class="title">
                        <a href="{{ article.url }}" target="_blank"> {{ article.title | slice : 0 : 60 }}</a>  
                      </mat-card-title>
                    <mat-card-subtitle class="author">
                        <p> Author : {{ article.author || "null" }}</p>  
                      </mat-card-subtitle>
                    <!-- <mat-card-subtitle class="source"> 
                        {{ article.source.name || "null" }}
                    </mat-card-subtitle> -->
                    <mat-card-subtitle class="published-at"> 
                       <p>PublishedAt: {{article.publishedAt | date: 'dd MMM yyyy HH.mm.ss' }}</p>
                    </mat-card-subtitle>
                    <p class="description">{{ article.description }}</p>

                </mat-card-content>
                <mat-card-actions class="actions">
                    <a href="{{article.url}}" target="_blank" (click)="openArticle(article.url)" class="readmore">Read More</a>
                    <i class="fa-solid fa-trash" (click)="removeArticle(article)"></i>
                    <i (click)="openShareDialog(article)" class="fa-solid fa-share"></i>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

