<app-dashboard></app-dashboard>

<div class="container-fluid">
    <!-- <div class="profile-img">
        <img src="../../../../assets/img/Profile page pic.gif" class="gif" alt="Profile Page">
    </div> -->
    <div class="card mb-3">
        <div class="row g-0">
            <h2 class="card-title mat-title text-center mt-3">User Profile</h2>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="../../../../assets/img/User-Profile.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="card-body">
                    <div *ngIf="user">
                        <h4 class="mat-subheading-2 mb-4"><b>Name:</b> {{ user.firstName }} {{ user.lastName }}</h4>
                        <h4 class="mat-subheading-2 mb-4"><b>Email:</b> {{ user.email }}</h4>
                        <h4 class="mat-subheading-2 mb-4"><b>Phone Number:</b> {{ user.phone }}</h4>
                        <h4 class="mat-subheading-2 mb-4"><b>Country:</b> {{ user.country }}</h4>
                    </div>

                    <div *ngIf="!user">
                        <p>Loading user profile...</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="upd-dle mb-3 d-flex justify-content-evenly">
            <button class="btn btn-primary" id="upd" (click)="openUpdateDialog()">Update</button>
            <button class="btn btn-danger"id="dlt" (click)="openDeleteDialog()">Delete</button>
            <button class="btn btn-primary" id="rst" (click)="openResetDialog()">Reset Password</button>
        </div>
    </div>
</div>